body{
  padding: 0;
}
.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
  text-align: center;
  color: #FFF;
  font-size: 20px;
  font-weight: 400;
}

.site-layout .site-layout-background {
  background: #fff;
}
  [data-theme="dark"] .site-layout .site-layout-background {
    background: #141414;
}
*{
  font-family: 'Poppins', sans-serif;
}


.price-title{
  font-size: 22px;
  font-weight: bold;
  color: #FFF;
  margin: 0;
  padding: 0;
}
.price-close{
  font-size: 17px;
  font-weight: bold;
  margin: 0;
}
.price-percent{
  font-size: 15px;
  font-weight: bold;
  margin: 0;
}